h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;


}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button {
  background-color: white; 
  color: black; 
  border: 2px solid #FFD700;
  position: absolute;
  top: 200px;
  left: 233px;
  width: 200px;
  height: 200px
  
  
}

button:hover {
  background-color: #FFD700;
  color: white;
}

p{
 color: #FFD700;
 position:absolute;
 top:60px;
 left:250px;
 
 
}
#leftAd{
 position:relative;
 float:left;
 right:200px;
 margin-left: -100%
}
#content{
    margin: auto;
  width: 50%;
  padding: 10px;
}
